/* Custom styling for the Bootstrap website.
These styles do not ship with Bootstrap
*/

html {
	height: 100%;
}

.display-height {

}

.turn{
	transform: rotate(-180deg);
}

.padding0 {
	padding: 0;
}

a:hover,
a:focus,
a:visited {
	outline: 0;
    text-shadow: none !important;
}


.menu.active > .menu-link {
    color: #4b9bd7;
}
.menu.active > .menu-content {
    display: block;
}

.header {

	.header-inside {
		position: relative;
		height: 53px;
		background: url('@{img-folder}header/header-top-bg.jpg') repeat;
		border-bottom: 1px solid #fff;

		.header-logo {
    		margin: 7px 40px 0 0px;
		}

		.menu-button {
		    color: #aaa;
		    font-size: 28px;
		    z-index: 1;
		    color: #fff;
	        margin: 7px 10px 0 0;
		    cursor: pointer;


			&.active {
			    color: #4b9bd7;
			}
		}


		.header-inside-sections{
			float: right;
		    z-index: 10000;

			.header-inside-section {
				position: relative;
				height: 52px;
				display: block;
				color: #999;
				float: left;
			    padding: 5px 5px;
				border-top: 2px solid transparent;
				z-index: 100;
				zoom:1

				&:visited{
					text-decoration: none !important;
				}

				&:hover .sprite-box,
				&:hover .link-title span,
				&:hover .link-title{
					color: #4b9bd7;
				}

				&:hover {
					color: #4b9bd7;
					text-decoration: none;
					border-top: 2px solid #4691c9;
				}

				&.actives {
					background-color: #222324;
					background-image: linear-gradient(to top, #222324 0%, #101113 100%);
				}

				&:hover .sprite-hover,
				&:active .sprite-hover,
				&.active .sprite-hover {
					opacity: 1;
					display: inline-block !important;
				}

				&.active .sprite,
				&:hover .sprite,
				&:active .sprite{
					opacity: 0;
					display: none;
				}

				.sprite-box {
				    margin: -1px 10px 0 0;
					color: #aaa;
				    font-size: 18px;
	    			line-height: 40px;
					text-align: center;
					.pull-left;
					width: 40px;
					background-color: #2b2c2d;
					border-radius: 2px;
					display: inline;
					position: relative;

				    span i {
					}
				}

				.link-title {
				    margin: 4px 0 0 0;
					font-size: 13px;
				    float: left;
				    display: inline;
					position: relative;
					text-transform: uppercase;

					i {
						margin-left: 4px;
					}

					span {
						font-size: 11px;
						display: block;
						color: #6c6c6c;
						position: relative;
						z-index: 1;    
						margin-top: -3px;
						text-transform: none;
					}

					.link-title-name {
						color: #fff !important;
					}
				}
			}

			.play {
			    width: 148px;
			    // background: url('../../img/chat/pause-button.jpg') no-repeat -1110px -110px;

				&:hover .sprite-box,
				&:hover .link-title span,
				&:hover .link-title{
					color: #53910a;
				}

				&:hover {
					color: #53910a;
					border-top: 2px solid #53910a;
				}

				.pause-link-title {
				    display: none;
				}

				.play-sprite-box,
				.play-link-title {
				    display: block;
				}
				.play-link-title {
				    letter-spacing: -0.5px;
			        margin: 4px 0 0 1px;
				}

				.pause-sprite-box {
					display: none;
				}
			}

			.pause {
			    width: 148px;
			    // background: url('../../img/chat/pause-button.jpg') no-repeat -1110px -110px;

				&:hover {
					
					border-top: 2px solid #e93e3c;
				    // background: url('../../img/chat/pause-button.jpg') no-repeat -208px -1px;
				    color: #e13124;
				}
				
				&:hover .sprite-box,
				&:hover .link-title{
					color: #e13124;
				}
				&:hover .link-title span{ 
					color: #e13124;
				}
				// &:active,
				&.actives {
					border-top: 2px solid #e93e3c;
				    background: url('../../img/chat/pause-button.jpg') no-repeat -399px -1px;
				}
				
				.pause-sprite-box {
					display: block;
					font-size: 16px;
				}
				.pause-link-title {
				    margin: 4px 0px 0 1px;
					display: block;
				    letter-spacing: -0.5px;
				}

				.play-link-title {
				    display: none !important;
				}

				.play-sprite-box {
					display: none !important;
				}
			}

			.dropped {
	    		position: relative;
				display: inline-block;
				float: left;

				.dropped-menu {
					z-index: 10000;
					right: 0px;
				    top: 52px;
					border: 0;
				    border-radius: 0;
					background-color: #212223;
					position: absolute;
					float: none;
					margin: 0;
					min-height: 0;
					left: 0px;
					padding: 2px 11px;
					display: none;
					list-style: none;

					li > a {
						color: #aaa;
						font-size: 13px;
				    	padding: 7px 29px 7px 10px;
					    border-bottom: 1px solid #333435;
					    display: inline-block;
				        width: 100%;

					    &:hover {
					    	text-decoration: none;
					    	color: #3187c6;
					    }

						i {
							margin-right: 6px;
							font-size: 13px;
						}

						.sprite-hover img,
						.sprite img {
						    width: 12px;
						    height: auto;
				            margin: -4px 1px 0 -2px;
						    display: inline-block;
						}

						&:active .sprite-hover,
						&.active .sprite-hover,
						&:hover .sprite-hover {
							opacity: 1;
							display: inline-block !important;
						}

						&:active .sprite,
						&.active .sprite,
						&:hover .sprite {
							opacity: 0;
							display: none;
						}

					}

					li:last-child a {
						border-bottom: 0;
					}
				}
			}

			.info-block {
				&:hover {
					border-top: 2px solid transparent;
				}

				&:hover .sprite-box {
					color: #aaa;
				}
				&:hover .link-title{
					color: #999;
				}

				&:hover .link-title span {
					color: #6c6c6c;
				}
			}

		}

	}
}
// END header
.sprite-hover {
	opacity: 0;
	display: none;
}
.sprite {
	opacity: 1;
}

.header-inside-sections{
	display: inline-block ;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: url('../../img/header/header-title-bg.jpg') no-repeat center top;
    background-size: cover;
    height: 35px;
    display: table;
    line-height: 1;
    width: 100%;
}
.vertical-center {
	display: table-cell;
	vertical-align: middle;
}
// END header-title

.vissible {
	display: inline-block !important;
	opacity: 1;
}
.main-box {
	width: 100%;
	background: url('@{img-folder}main-bg.jpg');
	padding: 5px 0 60px;
	height: auto;
	min-height: calc(~'100% - 208px');
}

.main-col {
	padding: 0 3px 1px;
	text-align: center;
	

	&:visited,
	&:hover {
		text-decoration: none;
	}

	&:hover .main-col-name{
		color: #58adec;
		width: 100%;
		border: 1px solid #000;
		border-top: none !important;
	}

	&:hover img {
		border: 1px solid #000;
		border-bottom: none;
	}

	img {
		border: 1px solid transparent;
		width: 100%;
		border-bottom: none;    
		display: inline-block;
	}
	.main-col-name {
		border: 1px solid transparent;
		border-top: none !important;
    	padding-top: 2px;
		color: #fdfdfd;
		height: 25px;
		background-color: #333;
	    width: calc(~"100% - 2px");
    	display: inline-block;
    	overflow: hidden;
	}
}
// END main-col

.footer {
	height: 120px;

	.footer-nav {
		padding-top: 10px;
		height: 85px;
		background-color: #171717;

		.nav {
			padding-top: 15px;
	        margin-right: 19%;
	        display: inline-block;

			li > a {
		        padding: 0px 2px 0px 25px;
			    color: #aaa;
			    font-size: 12px;
		        display: inline-block;
			}

			li > a:before{
		        position: absolute;
			    content: "\f105";
			    font-family: FontAwesome;
			    left: 6px;
			}

			li > a:focus,
			li.active > a,
			li > a:hover {
				text-decoration: underline;
				color: #4b9bd7;
				background-color: transparent;
			}
		}

		.footer-logo {
			margin-top: 10px;
			float: right;
		}
	}

	.footer-copyright {
		height: 40px;
	  	line-height: 40px;
		background-color: #121415;
		box-shadow: inset 0 1px 0 #262626;
		font-size: 12px;
		color: #6c6c6c;
	}
}
.small-logo {
	display: none !important;
}
// END footer


//////////////////////////////////////////////
// ------------- REGISTRATION -------------//
/////////////////////////////////////////////
.main-custom {
	padding-top: 40px;
	text-align: center;

	.form {
		display: inline-block;
		width: 550px;
	    padding: 39px 34px;
		background-color: #fcfcfc;
		border: 1px solid white;
	    margin-bottom: 20px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
	}
}



.form-group {
	width: 478px;
	height: 39px;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 3px;
	display: block;
	font-size: 16px;
	position: relative;

	input{
		border: 0 !important;
		padding: 0 60px 0 15px;
		height: 100%;
		line-height: normal;
		box-shadow: none !important;
		font-size: 14px;

		&:active,
		&:focus {
			outline: 0;
			border: 0;
			box-shadow: none;
		}
	}
}

.blue-star{
	position: relative;

	&:before {
		content: "*";
		font-size: 18px;
		font-weight: 700;
		color: #3187c6;
		position: absolute;
		top: -4px;
		left: -10px;
	}
}

.captcha-code {
    width: calc(~'100% - 182px');
    width: -moz-calc(~'100% - 182px');
	float: left;
	    margin: 2px 0 20px 0;
}

.form-group i{
	display: inline-block;
	color: #d3d3d3;
	top: 2px;
	right: 0;
	position: absolute;
    width: 36px;
	text-align: center;
	display: block;
	height: 33px;
	font-size: 16px !important;
    line-height: 32px;
	border-left: 1px solid #d7d7d7;
}
.form-group.error{
	border: 1px solid #f5413f;
}
.form-group>.error-text {
	display: none;
	position: absolute;
	right: 0;
	top: -20px;
	color: #f5413f;
	font-size: 13px;
	text-align: right;
}
.error>.error-text{
	display: block;
}
.form-group.success{
	color: #53910a;
	border: 1px solid #53910a;
}
.form-group.success input.form-control:-ms-placeholder {
	color: #53910a !important;
}
.form-group.success input.form-control::-moz-placeholder {
	color: #53910a !important;
}
.form-group.success input.form-control::-webkit-input-placeholder {
	color: #53910a !important;
}
.form-group.success input,
.form-group.success i{
	color: #53910a !important;
}
.form-group.error input.form-control:-ms-placeholder {
	color: #f5413f !important;
}
.form-group.errorinput.form-control::-moz-placeholder {
	color: #f5413f !important;
}
.form-group.error input.form-control::-webkit-input-placeholder {
	color: #f5413f !important;
}
.form-group.error input,
.form-group.error i{
	color: #f5413f !important;
}
.captcha-img {
	float: left;
}
.captcha-code input{
	padding: 0 15px;
}
.captcha-refresh {
	float: left;
    margin: 7px 7px 0;
    font-size: 16px;
	color: #333;

    &:hover:before {
    	color: #3187c6;
    }
}
input[type="checkbox"] {
	background: url('@{img-folder}checkbox.png') no-repeat center top;
	height: 16px;
	width: 16px;
	cursor: pointer;
	-webkit-appearance: none;
	outline: 0;
	border:0;

	&:focus,
	&:active {
		box-shadow: none;
		outline: 0;
		border:0;
	}
}
input[type="checkbox"]:checked,
input[checked="checked"] {
	background: url('@{img-folder}checkbox.png') no-repeat center -29px;
	outline: 0;
	border:0;

	&:focus,
	&:active {
		box-shadow: none;
		outline: 0;
		border:0;
	}
}
.page-link {
	text-decoration: none;
	color: #3187c6;

	&:visited,
	&:hover {
		color: #3187c6;
		text-decoration: underline;
	}
}
.check-wrapper {
    margin: 20px 0 15px;
    color: #333;
    overflow: hidden;
    width: 100%;
    display: block;
    white-space:nowrap;
	padding: 0;
	margin: 0;
	list-style: none;
	vertical-align: middle;
	line-height: 1;

	li {
		display: inline;
		white-space:nowrap;

		&.empty {
			display: block;
		}

		input {
			margin-bottom: auto;
			vertical-align:middle;
			margin: 0 5px 0 0px;
		}
		span,
		label {
			vertical-align:middle;
			padding-right: 10px;
			margin: 0;
			float: none;
		}
		.page-link {
			margin-top: 1px;
		}

	}
}
.text-bold {
	font-weight: 600;
}
.text-gray {
    color: #888;
}
.text-spacing {
	letter-spacing: 1px;
}
.text-normal {
	font-weight: 400;
}
button {
	float: left;
	height: 39px;
	display: inline-block;
	text-align: center;
	padding: 0 20px;
	border: 0;
}
.page-button {
	color: #fff;
	background-color: #4b9bd7;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	border: 0;
	outline: 0;
	display: inline-block;
    padding: 5px 15px;  
	line-height: 1;

	&:focus,
	&:visited {
		color: #fff;
		background-color: #4b9bd7;
		text-decoration: none;
	}

	&:hover {
		background-color: #3187c6;
		color: #b8d5ea;
		text-decoration: none;
	}

	&:active {
		background-color: #21699e !important;
		border: 0;
		outline: 0;
		color: #bfd5e1 !important;
	}
}

label{
	float: left;
	margin-bottom: 10px;
}
.reg-title {
	font-size: 13px;
	color: #888;
	font-weight: 400;
}


///////////////////////////////////////
// ------------- user-card ---------//
//////////////////////////////////////
.user-card {
	img {
		float: left;
		margin: 0 20px 10px 0;
	}
	.question-box {
		margin: 0 0 25px;
	}
	p {
		margin: 0 0 2px;
		font-size: 13px;
		color: #2b2c2d;
	    font-weight: 600;
	}
	.question {
		color: #747779;
	    font-weight: 400;
	}
	.page-button {
		padding: 13px 20px;
		margin: 0 5px;
	}
}
///////////////////////////////////////
// ------------- VIDEO -------------//
//////////////////////////////////////
.video-main {
	display: table;
}
.video-col {
	width: 100%;
	padding: 0;
	margin-bottom: 20px;

	.view{
		font-size: 14px;
		color: #333;
	    padding: 8px 5px 7px 10px;
	    line-height: 14px;
	    overflow: hidden;
	    height: 30px;

		.view-link {
		    font-size: 18px;
		    display: inline-block;
	        height: 15px;
	    	width: 15px;
		    vertical-align: top;
		    margin: 0 1px;

		    &.view0 {
				background: url('@{img-folder}chat/view-chat.png') no-repeat;
			    width: 31px;

				&.active,
		    	&:hover {
	    		    background-position: 0 -29px;
		    	}
		    }

		    &.view1 {
				background: url('@{img-folder}chat/view-chat.png') no-repeat;
		    	    background-position: -37px 0;

				&.active,
		    	&:hover {
		    		background-position: -37px -29px;
		    	}
		    }
		    &.view2 {
			    background: url('../../img/chat/view-chat.png') no-repeat;
			    background-position: -58px 0px;
			    width: 31px;

				&.active,
		    	&:hover {
		    		background-position: -58px -29px;
		    	}
		    }
		}

	    .refresh {
	    	.translate(0px, -1.5px);
			color: #333;
		    font-size: 18px;
		    display: inline-block;
	        height: 15px;
	    	width: 15px;
		    vertical-align: top;
		    margin: 0 1px;

			&:hover {
				color: #3187c6;
			}
	    }
	}

	.video-wrapper {
		overflow-y: auto;

		.video-box {
			position: relative;
		    margin-bottom: 2px;
		    text-align: center;
		    height: auto;
				
			.flowplayer {
				height: auto;
				width: 100%;
			}

		}

	}
}

.chat-col {
	width: 100%;
    height: 578px;
	color: #333;
	overflow: hidden;
    padding: 0 5px;
	margin-bottom: 20px;
	
	.view{
		font-size: 14px;
		color: #333;
	    padding: 8px 5px 7px 10px;
	    line-height: 14px;
	    overflow: hidden;
	    height: 30px;

		.hide-users {
			float: right;
			color: #3187c6;
			text-decoration: underline;
			font-size: 12px;
			cursor: pointer;

			&:visited {
				color: #3187c6;
				text-decoration: underline;
			}
			&:hover {
				text-decoration: none;
			}

			i {
				margin-left: 5px;
			}
		}
	}

	.icon-eye {
		font-size: 9px;
	}

	.chat-main {
		width: calc(~'100% - 153px');
		background: #333 url(../../img/chat/chat-bg.jpg) !important;
		padding: 7px 15px;
		margin-bottom: 1px;
    	height: calc(~'100% - 64px');
		float: left;
		overflow-y: scroll;
		border-right: 1px solid #fff;

		.message {
			border-radius: 2px;
			background-color: #fcfcfc;
			width: 88%;
		    padding: 3px 7px 8px;
			position: relative;
			font-size: 12px;
			line-height: 1;
			margin-bottom: 7px;

			.message-header {
				border-bottom: 1px solid #d1d1d1;
				padding-bottom: 1px;
				margin-bottom: 5px;
					position: relative;

				&:after {
					content: "";
					display: table;
					float: none;
					clear: both;
				}

				.message-time {
					float: right;
					font-size: 11px;
					width: 30px;
					position: relative;
				}

				.message-name {
					width: calc(~"100% - 40px");
					float: left;
					font-size: 13px;
				    font-weight: 700;
				    overflow: hidden;

					.message-name-link {
						color: #2b2c2d;
						font-weight: 600;

						&:visited {
							color: #2b2c2d;
							text-decoration: underline;
						}

						&:hover {
							text-decoration: underline;
							color: #4b9bd7;
						}
					}

				}

				&.dropped.active {
					.message-name,
					.message-name-link {
						text-decoration: underline;
						color: #4b9bd7 !important;
					}
				}


				.message-menu {
					display: none;
				    z-index: 123;
			        padding: 0 10px;
					top: calc(~'100% - 3px');
					left: 0;
					position: absolute;
					background-color: #212223;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.62);
					text-decoration: none;
					list-style: none;
					border-top: 1px solid #fff;

					&.blue-border {
						border-top: 1px solid #4b9bd7;
					}

					li {

						a {
						        padding: 6px 0;
							    width: 100%;
							    display: inline-block;
							    color: #aaa;
							    font-size: 11px;
							    border-top: 1px solid #333435;
							    line-height: 1;

							&:visited {
								text-decoration: none;
							}

							&:hover {
								color: #4b9bd7;
								text-decoration: underline;
							}

							i {
								margin-right: 10px;
								width: 12px;
								text-align: center;
								font-size: 11px;
							}

							.icon-eye {
								font-size: 8px;
								line-height: 13px;

								&:before {
								  content: '\e812';
							      top: -9px;
								  position: absolute;
								  left: 0;
								}
							}

							&.warning {

								&:hover {
									color: #f0ad02;
								}
							}

							&.ban {

								&:hover {
									color: #f5413f;
								}
							}

							&.person {
								// color: #53910a;

								&:hover {
									color: #53910a;
								}
							}
						}

					}

					li:first-child a {
						border: 0;
					}
				}
			}

			&:after {
			    content: '\e810';
			    font-family: 'custom_font';
			    position: absolute;
			    color: #fff;
			    right: -9px;
		        top: 4px;
			}

		}

		.left-message {
			float: left;

			&:after {
			    color: #fff;
			    left: -9px;
			    right: auto;
				-moz-transform: scale(-1, 1);
				-webkit-transform: scale(-1, 1);
				-o-transform: scale(-1, 1);
				transform: scale(-1, 1);
				filter: FlipH;
				-ms-filter: "FlipH";
			}

			.message-header {

				&.active {
					.message-name {
						color: #fff;
					}
				}

				.message-time {
					float: right;
				}
			}
		}

		.right-message {
			float: right;

			.message-header {

				.message-time {
					float: left;
				}

				.message-name {
					float: right;
					color: #2d2d2d;
					text-align: right;
				}

				.message-menu {
					left: auto;
					right: 0;

					.person {

						&:hover {
							color: #53910a;
						}
					}

					.ignore {

						&:hover {
							color: #f5413f;
						}
					}
				}
			}
		}

		.personal {
			background-color: #4b9bd7;

			&:after {
			    color: #4b9bd7;
			}

			.message-header {
				border-bottom: 1px solid  #333;

				.message-name {
					color: #333;

					&:visited {
						color: #333;
					}

					&:hover {
						color: #fff;
					}
				}
			}

			.message-header.dropped.active {
				.message-name {
					color: #fff !important;
				}
			}
		}

		.message.warning {
			background-color: #f0ad02;

			&:after {
			    color: #f0ad02;
			}

			.message-header {
				border-bottom: 1px solid  #333;

				.message-name {
					color: #333;

					&:visited {
						color: #333;
					}

					&:hover {
						color: #fff;
					}
				}
			}

			.message-header.dropped.active {

				.message-name{
					color: #fff !important;
				}
			}
		}

		.message.ban {
			background-color: #f5413f;

			&:after {
			    color: #f5413f;
			}

			.message-header {
				border-bottom: 1px solid  #333;

				.message-name {
					color: #333;

					&:visited {
						color: #333;
					}

					&:hover {
						color: #fff;
					}
				}
			}

			.message-header.dropped.active {
				.message-name {
					color: #fff	!important;
				}
			}
		}

		.message.person {
			background-color: #53910a;

			&:after {
			    color: #53910a;
			}

			.message-header {
				border-bottom: 1px solid  #333;

				.message-name {
					color: #333;

					&:visited {
						color: #333;
					}

					&:hover {
						color: #fff;
					}
				}
			}

			.message-header.dropped.active {
				.message-name {
					color: #fff !important;
				}
			}
		}

	}

	.chat-users {
		margin-bottom: 1px;
		padding: 0;
		height: calc(~'100% - 64px');
		float: right;
	    width: 153px;
		background-color: #333;
		overflow-y: scroll;
		font-size: 13px;
        margin: 0;
        overflow-x: hidden;

		li {
			position: relative;

			.chat-user {
				border-top: 1px solid transparent;
				position: relative;
				font-weight: bold;
				color: #aaa;
				display: block;
				width: 100%;
				padding: 3px 7px 4px;
			    border-bottom: 1px solid #262626;
			    box-shadow: 0px 1px 0px 0px #474747;

			    &:focus,
			    &:visited {
			    	text-decoration: none;
			    }

				&:hover {
					color: #3187c6;
					text-decoration: none;
				}

				&.warning {
					color: #f0ad02;

					&:hover {
						color: #f0ad02;
					}
				}

				&.ban {
					color: #f5413f;

					&:hover {
						color: #f5413f;
					}
				}
			}

			.admin {
				color: #fff;
			}

			.user-menu {
				display: none;
			    z-index: 123;
			    padding: 0px 8px;
				top: calc(~'100% + 2px');
				right: 0;
				left: 0;
				position: absolute;
				background-color: #212223;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.62);
				text-decoration: none;
				overflow: hidden;
				    list-style: none;

				li {

					a {
				        padding: 6px 0;
    					line-height: 1;
						width: 100%;
						display: inline-block;
						color: #aaa;
						font-size: 11px;
						border-top: 1px solid  #333435;

						&:visited {
							text-decoration: none;
						}

						&:hover {
							color: #3187c6;
							text-decoration: underline;
						}

						i {
							margin-right: 5px;
							width: 12px;
							text-align: center;
							font-size: 11px;
						}

						.icon-eye {
							font-size: 7px;
							line-height: 13px;

							&:before {
							  content: '\e812';
							  top: -10px;
							  position: absolute;
							  left: 0;
							}
						}
					}

					.person {
						// color: #53910a;

						&:hover {
							color: #53910a;
						}
					}

					.warning {
						// color: #f0ad02;

						&:hover {
							color: #f0ad02;
						}
					}

					.ban {
						// color: #f5413f;

						&:hover {
							color: #f5413f;
						}
					}

				}

				li:first-child a {
					border: 0;
				}
			}

		}

		.active > .chat-user{
			border-top: 1px solid #366f99;
			color: #3187c6 !important;
			background-image: -webkit-linear-gradient(bottom, #212223 0%, #1c1e1f 30%, #18191a 60%, #040505 100%);
			background-image: -o-linear-gradient(bottom, #212223 0%, #1c1e1f 30%, #18191a 60%, #040505 100%);
			background-image: linear-gradient(to top, #212223 0%, #1c1e1f 30%, #18191a 60%, #040505 100%);
			box-shadow: inset 0px 1px 0px 0px #448cc3, 0px 1px 0px 0px #474747, inset 0 5px 5px rgba(0, 0, 0, 0.75);
			border-bottom: 1px solid #262626;

		}

		.active > .user-menu {
			display: inline-block !important;
		}

	}

	.chat-controls {
		height: 34px;
		width: 100%;
		padding: 0;

		form {
			background-color: #333;
		        padding: 0px 0px 0 3px;
			    display: inline-block;
			    height: 100%;
			    position: relative;
			    width: 100%;

	    	.smiles-box-wrapper {
	    		display: none;
			    position: absolute;
			    bottom: 100%;
			    padding-bottom: 7px;
		        right: 39px;

				.smiles-box {
					position: relative;
			        padding: 5px 5px;
					width: 310px;
					height: 255px;
					background-color: #fcfcfc;
					border-radius: 3px;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);

			        &:after {
			        	content: "";
			        	width: 0;
						height: 0;
						border-left: 3px solid transparent;
						border-right: 3px solid transparent;
						border-top: 5px solid #fff;
						position: absolute;
						top: 100%;
					    right: 10px;
			        }

					.smiles {

						&:hover  {
							.translate(0px, -3px);
						}
					}

				}

	    	}


			textarea{
				outline: 0;
				overflow: hidden;
				padding: 5px 10px;
				display: block;
				border-radius: 3px;
				float: left;
				border: 0;
				width: calc(~"100% - 138px");
		        height: 29px;
			    resize: none;
			    margin-top: 2px;
			}

			.button-wrap {
		        margin: 2px 2px 0 2px;
				position: relative;
				font-size: 12px;
				text-align: center;
				line-height: 28px;
				width: 28px;
				height: 29px;
				border-radius: 3px;
				float: right;
				background-color: #3187c6;
				color: #fff;

				&:active,
				&:hover {
					background-color: #3187c6;
					color: #b8d5ea;
				}

				input[type=submit] {
					background-color: transparent;
					width: 100%;
					height: 28px;
					border: 0;
					outline: 0;
					bottom: 0;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					cursor: pointer;
				}
			}

			.chat-button {
			    color: #9f9f9f;
			    font-size: 12px;
			    text-align: center;
                line-height: 35px;
		        width: 35px;
			    height: 33px;
			    float: right;
			    display: inline-block;
			    border-left: 1px solid #262626;
			    box-shadow: inset 1px 0px 0px 0px #474747;

				&.active,
				&:hover {
					color: #4b9bd7;
				}

				&.active,
				&:active {
					background-color: #3187c6;
					background-color: #252525;
				}

				i {
					font-size: 15px;

					&.icon-eye {
						font-size: 12px;
					    top: -2px;
					}
				}

			}

		    .resize-link {

		    	.fa-compress {
		    		display: none;
		    	}
		    }
		}

	}

	&.resize {

		.chat-main,
		.chat-users {
			height: calc(~'100% - 166px');
		}

		.chat-controls {
			margin-top: 1px;
    	    height: 135px;
	        padding: 0;

		    form {

	    		textarea {
    			    margin-top: 4px;
    				height: 127px;
			        width: calc(~'100% - 38px');
					overflow-y: auto;
	    		}

	    		.button-wrap {
    			    margin: 3px 5px 0 0px;
				    position: relative;
				    font-size: 12px;
				    text-align: center;
				    line-height: 28px;
				    width: 30px;
	    		}

	    		.chat-button {
	    			border-left: 0px solid #262626;
    			    border-bottom: 1px solid #262626;
					box-shadow: none;
					margin-right: 1px;
	    		}

				.smiles-box-wrapper {
				    bottom: calc(~"100% - 30px");
			        right: 7px;

		    		.smiles-box {
		    		}

			    }

			    .resize-link {

			    	.fa-expand {
						display: none;
			    	}

			    	.fa-compress {
			    		display: inline-block;
			    	}
			    }
			}
	    }
	}

	&.nousers {

		.chat-main {
			width: 100%;
		}

		.chat-users {
			display: none;
		}
	}
}

.view-2 {
	.video-col {
		width: 50%;
		float: left;

		.video-box {
			width: 100%;
			float: left;
			
			.flowplayer {
			    width: 100%;
			}
			
		}
	}
	.chat-col {
		width: 50%;
		float: left;

	    .chat-controls {
			padding: 0;
	    }
	}
}
.view-3 {
	.video-col {

		.video-box {
			float: left;
			width: 50%;
			
			.flowplayer {
			}

			&:nth-child(2n) {
				text-align: left;
				padding-left: 3px;
			}

			&:nth-child(2n+1) {
				text-align: right;
				padding-right: 3px;
			}
		}
	}
}

.smiles {
	margin: 2px 0;
    display: inline-block;
    background: url('@{img-folder}chat/sprite_smiles.png') 0 0 no-repeat;
	width: 26px;
	height: 26px;
	vertical-align: bottom;
	.transition(all .2s);

    &.smile1 { background-position: 0px 0; }
    &.smile2 { background-position: -30px 0px; }
    &.smile3 { background-position: -60px 0px; }
    &.smile4 { background-position: -90px 0px; }
    &.smile5 { background-position: -120px 0px; }
    &.smile6 { background-position: -150px 0px; }
    &.smile7 { background-position: -180px 0px; }
    &.smile8 { background-position: -210px 0px; }
    &.smile9 { background-position: -240px 0px; }
    &.smile10 { background-position: -270px 0px; }
    &.smile11 { background-position: 0px -31px; }
    &.smile12 { background-position: -30px -31px; }
    &.smile13 { background-position: -60px -31px; }
    &.smile14 { background-position: -90px -31px; }
    &.smile15 { background-position: -120px -31px; }
    &.smile16 { background-position: -150px -31px; }
    &.smile17 { background-position: -180px -31px; }
    &.smile18 { background-position: -210px -31px; }
    &.smile19 { background-position: -240px -31px; }
    &.smile20 { background-position: -270px -31px; }
    &.smile21 { background-position: 0px -61px; }
    &.smile22 { background-position: -30px -61px; }
    &.smile23 { background-position: -60px -61px; }
    &.smile24 { background-position: -90px -61px; }
    &.smile25 { background-position: -120px -61px; }
    &.smile26 { background-position: -150px -61px; }
    &.smile27 { background-position: -180px -61px; }
    &.smile28 { background-position: -210px -61px; }
    &.smile29 { background-position: -210px -61px; }
    &.smile30 { background-position: -270px -61px; }
    &.smile31 { background-position: 0px -91px; }
    &.smile32 { background-position: -30px -91px; }
    &.smile33 { background-position: -60px -91px; }
    &.smile34 { background-position: -90px -91px; }
    &.smile35 { background-position: -120px -91px; }
    &.smile36 { background-position: -150px -91px; }
    &.smile37 { background-position: -180px -91px; }
    &.smile38 { background-position: -210px -91px; }
    &.smile39 { background-position: -240px -91px; }
    &.smile40 { background-position: -270px -91px; }
    &.smile41 { background-position: 0px -121px; }
    &.smile42 { background-position: -30px -121px; }
    &.smile43 { background-position: -60px -121px; }
    &.smile44 { background-position: -90px -121px; }
    &.smile45 { background-position: -120px -121px; }
    &.smile46 { background-position: -150px -121px; }
    &.smile47 { background-position: -180px -121px; }
    &.smile48 { background-position: -210px -121px; }
    &.smile49 { background-position: -240px -121px; }
    &.smile50 { background-position: -270px -121px; }
    &.smile51 { background-position: 0px -151px; }
    &.smile52 { background-position: -30px -151px; }
    &.smile53 { background-position: -60px -151px; }
    &.smile54 { background-position: -90px -151px; }
    &.smile55 { background-position: -120px -151px; }
    &.smile56 { background-position: -150px -151px; }
    &.smile57 { background-position: -180px -151px; }
    &.smile58 { background-position: -210px -151px; }
    &.smile59 { background-position: -240px -151px; }
    &.smile60 { background-position: -270px -151px; }
    &.smile61 { background-position: 0px -181px; }
    &.smile62 { background-position: -30px -181px; }
    &.smile63 { background-position: -60px -181px; }
    &.smile64 { background-position: -90px -181px; }
    &.smile65 { background-position: -120px -181px; }
    &.smile66 { background-position: -150px -181px; }
    &.smile67 { background-position: -180px -181px; }
    &.smile68 { background-position: -210px -181px; }
    &.smile69 { background-position: -240px -181px; }
    &.smile70 { background-position: -270px -181px; }
    &.smile71 { background-position: 0px -210px; }
    &.smile72 { background-position: -30px -210px; }
    &.smile73 { background-position: -60px -210px; }
    &.smile74 { background-position: -90px -210px; }
    &.smile75 { background-position: -120px -210px; }
    &.smile76 { background-position: -150px -210px; }
    &.smile77 { background-position: -180px -210px; }
}

// dropped-menu
.dropped {

	&.active {

		.dropdown-link.chat-button {
			color: #4b9bd7 !important;
			background-color: #252525;
		}

		.header-inside-section {
			background-color: #222324;
			background-image: linear-gradient(to top, #222324 0%, #101113 100%);


			.sprite-box {
				color: #4b9bd7 !important;
			}

			.link-title {
				color: #4b9bd7;
			}
		}

		.dropdown-link,
		.dropdown-content {
		    display: block !important;
		}

		.dropdown-link .dropdown-caret {
		    transform: rotate(-180deg);
		    -webkit-transform: rotate(-180deg);
		    -ms-transform: rotate(-180deg);
		}

	}
}

.datepic {
	padding: 30px 0 40px !important;

	.empty {
		height: 40px;
	}
	.form-group {
	    width: auto;
		padding: 7px 0 0 15px;
		cursor: pointer;
		text-align: left;

	    i {
	    	color: #333;
	    }
	}
}
.daterangepicker {
    margin-top: 8px;
	border: 1px solid #d3d3d3;

	&:before,
	&:after {
		content: none;
	}

	.ranges {
		ul li {
    		width: 100%;
    		margin-bottom: 2px;
    		border-radius: 2px;

			&.active,
			&:hover {
				background-color: #3187c6;
				color: #fff;
				text-decoration: none;
			}

			&:active {
				background-color: #21699e !important;
				outline: 0;
				color: #bfd5e1 !important;
			}
		}
	}
}
#reportrange {
	width: 100%;

	.caret {
		margin-left: 0;
	}

}
.calendar-table {
	font-size: 13px;

	.table-condensed {
		thead {
			tr {
				th {
					padding: 0;
					background-color: #333;
					border-radius: 0;
					border: 1px solid #d9d9d9;
					color: #fff;
					font-weight: 400;

					&.month {
						background-color: #333;
						color: #fff;
						font-weight: 400;
						border: 1px solid #d9d9d9;
					}
					&.available {
						background-color: #333;
						color: #fff;
						border: 1px solid #d9d9d9;
					}
				}
			}
			tr:nth-child(2) {
				th {
					background-color: #4b9bd7;
				}
			}
		}
		tbody {

			tr {

				td {
				    padding: 0;
			        background: #b5d5ed;
			        border: 1px solid #9dbbdc;
			        border-radius: 0;

					&:hover,
					&.start-date,
					&.in-range {
						background-color: #4b9bd7;
						color: #fff;
					}
					&.off.available {
						background-color: #fff !important;
						border: 1px solid #d9d9d9;
						&:hover {
							color: #999;
						}
					}
					&.off.in-range.available,
					&.off.active.available.start-date {
						background-color: #fff;
						color: #999;
						border: 1px solid #d9d9d9;
					}
				}

			}
		}
	}
}

/////////////////////////////////////////
// ----------------NEWS----------------//
/////////////////////////////////////////
.news-col {
	color: #747779;
	text-align: left;
	border-top: 1px solid #e1e1e1;
	padding: 15px 0;

	&:first-child {
		border: 0;
	}

	.news-col-header {
		margin-bottom: 10px;
		font-size: 14px;
		text-transform: uppercase;
		color: #2b2c2d;
		font-weight: 600;

		span {
			margin-left: 5px;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			text-indent: 20px;
			position: relative;

			&:after {
			    content: "\f105";
			    font-family: FontAwesome;
				left: -20px;
				top: 0px;
				position: absolute;
				color: #3187c6;
			}
		}
	}

	ol {
		padding: 0;
		counter-reset: myCounter;

		li {
			text-indent: 20px;
			position: relative;
			list-style: none;

			&:before {
			  counter-increment: myCounter;
			  content:counter(myCounter);
			  font-size: 14px;
			  font-weight: 600;
			  position: absolute;
			  left: -20px;
			}
		}
	}
}

/////////////////////////////////////////
// --------------CHANGE----------------//
/////////////////////////////////////////
.change-header {
	font-size: 13px;
	padding: 10px 0;
    font-weight: 600;
}
.change-col {
    min-height: 240px;

	.pull-left {
		width: calc(~'100% - 300px');

		.form-group {
			width: 100%;    
			margin-bottom: 3px;

		}
		.page-button {
			margin-top: 15px;
		}
	}
	.pull-right {
        width: 290px;

		.video-box {
		    margin-bottom: 2px;
		    text-align: center;
				
			.flowplayer {
				height: auto;
				width: 100%;

				&.is-poster .fp-ui:after {
				    font-size: 50px;
				    line-height: 50px;
				    margin-top: -25px;
				    margin-left: -25px;
				}
				
				.video-box .fp-ui .fp-fullscreen {
					display: none !important;
				}

			}
		}
	}
	.page-button {
		width: 120px;
        padding: 12px 0 13px;
	}
}
.red-btn:visited,
.red-btn {
	background: #f5413f !important;
    color: #fff !important;

	&:hover {
		color: #f2c0c0 !important;
		background: #dd3634 !important;
	}

	&:active {
		color: #a88585 !important;
		background: #972423 !important;
	}
}
.gray-btn:visited,
.gray-btn:focus,
.gray-btn {
	background-color: #f4f4f4;
	color: #868686;

	&:hover {
		background-color: #e8e8e8;
		color: #333;
	}

	&:active {
		background-color: #d2d2d2 !important;
		color: #111 !important;
	}
}
.change {
	.form {
		margin-top: 10px;

		.form-group {
			width: 100%;

			&.text {
				height: 97px;

				textarea {
					height: 100%;
					border: 0;
					resize: none;
				    padding-right: 60px;

					&:focus {
						box-shadow: none;
						outline: 0;
						border: none;
					}
				}
			}

			i {

				&.text {
					height: 92px;
				    padding: 30px 0 0 0;
				    font-style: normal;

					&:before {
					    position: relative;
					    display: block;
					}
				}
			}
		}
		.form-footer {
			margin-bottom: 20px;
			input {
				width: calc(~'100% - 208px');
				height: 39px;
				background-color: white;
				border: 1px solid lightgrey;
				border-radius: 3px;
				padding: 0 15px;

				&:focus {
					outline: 0;
				}
			}
			.page-button {
			    padding: 12px 15px;
			}
			.notactive {
				color: #fff !important;
				background: rgba(245, 65, 63, 0.3) !important;

				&:hover,
				&:active,
				&:visited {
					color: #fff !important;
					background: rgba(245, 65, 63, 0.3) !important;
				}
			}

		}

		.save {
    		padding: 10px 35px;
		}
	}
	input[type="checkbox"] {
		margin: 0 10px;
	}
}
.bootstrap-select {
    &:after {
    	content: "";
	    position: absolute;
	    height: 33px;
	    right: 35px;
	    background: #d7d7d7;
	    width: 1px;
	    top: 2px;
    }

	&.open > .dropdown-toggle.btn-default {
		background-color: transparent;
	}
	
	.btn {
	    box-shadow: none !important;
		color: #999;

		&:focus,
		&:active  {
			outline: 0 !important;
			border: 0 !important;
		}

		.filter-option {
			color: #999;
		}

		span.caret {
		    right: 18px;
		    color: #333 !important;

		}
		.option {
			color: #2d2d2d;
		}
	}

	.btn-default {
		background: transparent;

		&:active,
		&:hover {
			background: transparent;
		}
	}
	.dropdown-menu {
		width: calc(~'100% + 2px');
		margin-left: -1px;
	    background: #fff;
	    padding: 0;
	    border: 1px solid #d3d3d3;

	    ul {
	    	padding: 0;
	    }

	    li {
		    width: 100%;

		    a{
		    	height: 39px;
		    	width: 100%;
		    	padding: 0 !important;
		    	display: block;
			    border-bottom: 1px solid #cacaca;

		    	&:after {
				    content: none;
				}

				span.option {
		    	    padding: 11px 15px 0;
					display: inline-block;
					color: #2d2d2d;
					width: 100%;
					height: 100%;
					font-weight: 400;

				    &:focus,
				    &:hover{
			    		color: #fff !important;
			    		background-color: #4b9bd7;
			    	}
				}
			}
		}
	}
}
.admin-mail {
    height: calc(~"100% - 208px");

	.container {
    	height: calc(~"100% - 208px");

    	form {
		    min-height: 250px;
		    max-height: 45%;
		    height: 45%;
		    max-height: 650px;

			textarea.message {
			    margin-bottom: 20px;
			    height: calc(~"100% - 50px");
		        max-height: calc(~"100% - 50px");
		        resize: none;

			    &:focus {
			    	border: 1px solid #ccc;
			    	box-shadow: none;
			    }
			}
		}
	}
}
.change-pay-title {
    font-size: 13px;
    text-align: left;
    padding: 0 15px;
    font-weight: 600;
}
.discription {
	font-size: 11px;
	text-align: left;
	margin-bottom: 20px;
	font-weight: 600;
}
.empty {
    width: 100%;
    height: 15px;
}
.nomargin {
	margin: 0;
}
.nopadding {
	padding: 0;
}
.reg-controls {
	.page-button{
    	padding: 13px 31px !important;
    	float: none;
    	height: 39px;
	}
	.green-btn {
    	margin-bottom: 20px;
	}
	.continue{
		padding: 13px 35px !important;
	}
}
.pasport-photo {
	.example {
		margin-bottom: 20px;
	}
	.page-button {
		width: 110px;
		padding: 12px 0;
		height: 39px;
		vertical-align: top;
	}
	.form-group {
		width: calc(~'100% - 125px') !important;
		display: inline-block;
		margin-right: 10px;

		&:before {
			content: none;
		}

		i {
			width: 15px;
			height: 15px;
			position: absolute;
			border: 0;
			top: 10px;

			&:before {
				top: 0;
				top: -6px;
			    left: 0;
			    position: absolute;
			}
		}

		.fa-minus-square {
			right: 30px;
		}

		.fa-plus-square {
			right: 10px;
		}

		a {
			&:hover .fa-minus-square {
				color: red;
			}
			&:active .fa-minus-square {
				color: #441413;
			}
			&:hover .fa-plus-square {
				color: green;
			}
			&:active .fa-plus-square {
				color: #184814;
			}
		}

		input {
			width: 100%;
		}
	}
}


.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    height: 100%;
}
.btn-group > .btn:first-child {
    margin-left: 0;
    height: 100%;
    border: 0;
}
.green-btn {
	background: #53910a !important;

	&:hover {
		color: #d4decc;
		background: #487e08 !important;
	}
	&:active {
		color: #d4decc;
		background: #2f5206 !important;
	}
}
.webcam-btn {
	padding: 20px 40px;
	margin-top: 30px;
}
#delete .page-button{
    padding: 10px 35px;
}
.news-delivery {
	padding: 0 10px;
	color: #747779;
}
label[for="like-news"] {
    color: #2b2c2d;
}



////////////////////////////////////////
// -------------balance---------------//
///////////////////////////////////////
.balance {

	.container	{
		.balance-title {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}
		.balance-item {
			font-weight: 600;
			font-size: 18px;
		    margin-right: 1px;
	        line-height: 38px;
		}
		p {
			margin-bottom: 15px;
			color: #747779;

			b{
				color: #2f2c2d;
			}
		}
		form {
			padding-bottom: 20px;
			border-bottom: 1px solid #d3d3d3;
			margin-bottom: 20px;
		}
		.form-group {
			width: auto;
		    display: inline-block;
		    margin-right: 1px;
	        vertical-align: top;

	        input {
	        	width: 123px;
	        }

			.money{
	            width: 123px;
    			padding-right: 15px;
			}
		}

		.phone {
			input {
				width: 400px;
			}
		}
		.ya-form {
			.bootstrap-select {
				
				.btn:first-child {
					width: 183px;
				}
			}
		}
		.mobile {
			margin-right: 20px;
			.bootstrap-select {
				
				.btn:first-child {
					width: 290px;
				}
			}
		}
		.page-button {
		    float: none;
		    vertical-align: top;
		    text-align: center;
		    width: 123px;
		    padding: 0;
		}
		.bootstrap-select{
			&:after {
			    right: 36px;
			}
		}
		.btn-group > .btn:first-child {
		    width: 123px;
		}
	}
}
.noborder {
	border: 0 !important;
}
.red-text {
	color: #f5413f;
}
/////////////////////////////////////////
// -------------Statistic--------------//
/////////////////////////////////////////
.statistic-header {
	text-align: left;
	padding: 0;
    margin-top: 11px;

	a {
		color: #2b2c2d;
	    padding: 0 10px;
	    position: relative;

	    &:focus {
	    	text-decoration: none;
	    }

	    &:before {
	    	content: "";
	    	width: 1px;
	    	height: 13px;
    	    left: -3px;
    		top: 3px;
	    	position: absolute;
	    	background-color: #aaa;
	    }

	    &:first-child {
	    	padding-left: 0;
	    }

	    &:first-child:before{
	    	content: none;
	    }

		&:hover,
		&.active {
			color: #3187c6;
			text-decoration: underline;
		}
	}
}
.table-responsive	{

	.table {
		font-size: 14px;
		border: 1px solid #d3d3d3; 

		thead {
			background: #333;
			color: #fff;
			border: 1px solid #333;

			th {
				font-weight: 400;
				text-align: center;
				border-left: 1px solid #fff;
				border-bottom: 0;

				&:first-child {
					text-align: left;
					border-left: 0px solid #fff;
				}
			}
		}

		tbody {
			color: #989898;
			border-top: 0;

			tr {
	
				td {
					border: 1px solid #d3d3d3; 
					border-top: 0;

					&:first-child {
						text-align: left;
					}
				}
			}
		}

		tfoot {

			tr {

				td {
					border: 1px solid #d3d3d3; 
					border-top: 0;
					color: #2b2c2d;
					font-weight: 600;

					&:first-child {
						text-align: left;
					}

				}
			}
		}
	}
}
.dropdown-menu ul > li a {
	padding: 3px 14px !important;
}


.steps {
    padding: 0 0 10px;
	margin-bottom: 30px;

	.step-col {
		position: relative;
		width: 20%;
		display: inline-block;

		.step-line {
			height: 3px;
			width: 100%;
			background-color: #cfcfcf;
		}

		.step-round {
			width: 29px;
			height: 29px;
			background-color: white;
			border: 4px solid #cfcfcf;
			border-radius: 20px;
			font-size: 14px;
			color: #333;
			font-weight: 600;
		    position: absolute;
    		top: -13px;
		}

		.step-text {
			color: #3187c6;
		    position: absolute;
    		top: 20px;    
    		width: 295%;
		    left: 0;
		    text-align: left;
	        font-size: 13px;

		    &.person {
		    	width: 200%;
		    }
		    &.pasport {
		    	width: 100%;
		    	right: 0;
		    	left: 0;
		    }
		}

		&.active {
			.step-line {
				background-color: #3187c6;
			}

			.step-round {
				border-color: #3187c6;
			}
		}
	}
}
.newuser {
	.steps {
		.step-col {
			width: 33.3%;
		}
	}
}







.daterangepicker .ranges {
	width: 165px !important;

	.page-button {
	    margin: 0 3px 0 4px;
        padding: 5px 11px;
	}
}

.vissible-390 {
	display: none !important;
}









// MOBILE DEVICES
@media (max-width: 1100px) {
	.nav > li > a {
	    padding: 7px 10px;
	}
}
@media (max-width: 1023px) {
	.w100{
		width: 100%;
	}
	.chat-main {
		border-right: 2px solid #fff;
	}
}
@media (max-width: 991px) {
	.navmenu .navbar-nav {
	    margin: 0 0px;
	}
	.nav > li > a {
	    padding: 10px;
	}
	.footer .footer-nav .nav {
	    margin-right: 11%;
	}
	.dropdown-menu .container {
		padding: 0;
		width: 100%;
	}
	.dropdown-menu ul > li a {
    	color: #fff;

    	&:hover {
    		color: #fff;
    	}

    	&:after {
    		content: none;
    	}
	}
	.dropdown-menu ul > li {
	    float: none;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
	    color: #fff;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
	    background: rgba(0, 19, 38, 0.1) ;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    padding: 0 15px;
	    position: relative;
	}
	.chat-col.resize .chat-controls {
	    position: relative;
	    padding: 0;
	}
	.page-button {

		&:active {
			background-color: #21699e;
			color: #9ab7cc;
		}
	}
	.main-box {
	    padding: 5px 0 40px;
        min-height: calc(~'100% - 203px');
	}
	.header {
		height: auto;
	}
	.header-title {
	    height: 30px;
	    font-size: 18px;
	}
}
@media (width: 768px) and (height: 1024px) {
	.view-2 .video-col {
	    width: 100% !important;
	}
	.chat-col {
		width: 100% !important;
		min-height: 400px;
	}
	.hidden-768 {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.admin-mail {
		height: auto;

		.container form {
	    	min-height: 0; 
		}
	}
	.footer {
	    height: 125px;
	}
	.main-box {
		min-height: calc(~'100% - 209px');
	}
	.statistic-header {
	    text-align: right;
	    padding: 0;
	    margin-top: 0;
	    margin-bottom: 10px;
	}
	.datepic .form-group {
	    float: right;
	    width: 310px;
	}
	.steps {

		.step-col {
			.pasport {
				width: 160% !important;
				left: auto !important;
				font-size: 12px;
				line-height: 1;
				text-align: right;
			}
		}
	}
	.balance .container .form-group {
	    margin-bottom: 10px;
	}
	.balance .container .balance-item {
	    margin: -5px 15px 10px 0;
	    display: block;
	}
	.change-col {
	    margin-bottom: 15px;
	}
	.change-col > .pull-left {
		width: 100%;
		float: none !Important;
	}
	.change-col > .pull-right {
	    width: 100%;
	    float: none !Important;
	    margin: 3px 0 0px;

		.save-btn {
		    margin-top: -16px;
		    vertical-align: middle;
		    padding-bottom: 12px;
		}
		.video-box {
	    	margin-bottom: 2px;
		    min-height: 0;
		}
	}
	.navbar .container {
	    width: 100%;
	}
	.header .header-inside .header-inside-sections .js-hide {
		width: 100%;
	}
	.footer {
		.footer-nav {
		    padding: 20px 0 20px;

		    .nav {
	    		margin-right: 10px;
	    	}
		} 
	}

	.video-main {
		display: block;
	}
	.hidden-768 {
		display: none !important;
	}
	.menu.active .menu-button {
		color: #4b9bd7;
	}
	.menu-button {
		display: inline-block !important;
	}
	.header .header-inside .header-inside-section,
	.header .dropped {
		display: block !important;
		float: none !important;
	}
	.header-inside-sections {
	    background: url('../../img/header/header-top-bg.jpg') repeat;
	    position: absolute;
	    display: none;
	    right: 0;
	    top: 53px;
	    z-index: 1;
    	padding: 5px;
	}
	.dropped li > a {
    	padding: 7px 22px 7px 9px;
    }
	.header .header-inside .header-inside-section {
	    padding: 5px 3px;
	}
	.footer .footer-nav {
	    padding: 10px 0 20px;
	    height: auto;
	}
	.footer .footer-nav .footer-logo {
		margin-top: 20px;
	    display: block;
	}
	.header-title {
	    font-size: 16px;
	}
}

@media (max-width: 747px) {
	.hidden-768 {
		display: none !important;
	}
	.view-2 .video-col {
	    width: 100% !important;
	}
	.chat-col {
		width: 100% !important;
		min-height: 400px;
	}
}
@media (max-width: 600px) {

	.main-box {
		min-height: calc(~'100% - 228px');
	}
	.news-delivery {
	    padding: 0;
	}
	label[for="like-news"] {
	    display: inline;
	    float: none;
	}
	.admin-mail {
		display: block;
	}
	form {
		.pay-header { 
			margin-bottom: 10px;

			.pull-left {
				width: 100%;
	 	   		margin: 0px 0 10px;
			}

			input[type="checkbox"] {
			    margin: 0 0px 0 0px;
			}
			label {
				margin: 0 10px 0 10px;
			}
		}
		.save {
		    padding: 10px 35px;
		}
	}

	.footer {
		.footer-nav {

		    .nav {
		    	display: block;
	    		padding-top: 0px;
	    	}
	    }
		.footer-logo {
			margin: 0 !important;
		}
	}
	.main-custom {
		.form {
			width: 100%;
	    	padding: 39px 30px;

			.form-group {
				width: 100%;
			}
			.captcha-code {
			    width: calc(~'100% - 184px');
			}
		}
	}
}
@media (max-width: 480px) {
	.datepic .form-group {
	    float: right;
	    width: 266px;
	    font-size: 14px;
	    padding-top: 9px;
	}
	.check-wrapper li .page-link {
	    margin-top: 2px;
	}
	.statistic-header a {
	    padding: 0 5px;
	}
	.header-title {
	    font-size: 15px;
	}
	.change .form .form-footer input {
	    padding: 0 5px;
	    font-size: 13px;
	}
	.pasport-photo {
		.form-group {
			width: 100% !important;
			margin-bottom: 10px;
		}
		.page-button {
			margin: 0px 0 10px;
		}
	}
	.reg-controls .page-button {
        padding: 13px 24px !important;
	}
	.reg-controls .continue {
	    padding: 13px 30px !important;
	}
	.bootstrap-select .dropdown-menu li a span.option {
	    padding: 8px 15px 0 5px;
	    font-size: 13px;
	}
	.bootstrap-select .btn-default {
        padding-left: 5px !important;
    	font-size: 13px;
	}
	.change .form .form-footer .page-button {
	    float: left;
	    margin: 0 10px 0 0;
	}
	.change .form .form-footer input {
	    width: 100%;
	    margin: 10px 0;
	}
	.change-col > .pull-right {
	    width: 100%;
	    float: none !Important;
	}
	.video-main .container {
	    padding: 0 0px;
	}
	.chat-col .chat-controls form .smiles-box-wrapper .smiles-box {
	   padding: 5px 5px;
	   width: 100%;
	   height: auto;
	}
	.chat-col .chat-controls form .smiles-box-wrapper .smiles-box:after {
	    right: 60px;
	}
	.chat-col.resize .chat-controls form .smiles-box-wrapper .smiles-box:after {
	    right: 22px;
	}
	.chat-col .chat-controls form .smiles-box-wrapper,
	.chat-col.resize .chat-controls form .smiles-box-wrapper {
    	right: 2px;
		width: 280px;;
	}
	.main-custom {

		.form {
	    	padding: 30px 15px;

			.captcha-code {
			    width: calc(~'100% - 172px');

			    input {
				    padding: 0 7px;
				}
			}

			.error {
				.error-text {
				    display: block;
				    min-width: 240px;
				}
			}

			.captcha-refresh {
			    float: left;
			    margin: 5px 4px 0;
		    }

			.check-wrapper {
			    font-size: 12px;
			}

		}

	}
	.fileinput .thumbnail {
	    margin-right: 8px;
	}
	.fileinput .page-button {
	    padding: 12px 9px !important;
	}
	.fileinput .red-btn {
	    margin: 8px 0 0 2px;
	}
	.vissible-480 {
		display: block !important;
	}
	.main-col {
		width: 100%;
	}
	.form-group input {
	    padding: 0 52px 0 5px;
	    font-size: 13px;
	}
}
@media (max-width: 390px) {
	.vissible-390 {
		display: block !important;
	}
	.hidden-390 {
		display: none;
	}
	.big-logo {
		display: none !important;
	}
	.small-logo {
		display: block !important;
	}
}